/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

body{
	font-family: Arial;
	background-image: url('https://duv2rxyjq20ja.cloudfront.net/wlcom1/backgrounds/wood.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	font-family:'Helvetica Neue', 'Arial';
}

a{
	text-decoration:none;
}

h1 {
	font-family: Courgette;
	color:rgba(0,0,0,.7);
	font-size: 60px;
	text-align:center;
}

.pulsate{
	-webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes pulsate {
    0% {opacity: 0.5;}
    50% {opacity: 0.2;}
    100% {opacity: 0.5;}
}

h2 {
	font-family: Courgette;
	color:rgba(0,0,0,.6);
	font-size:30px;
	text-align:center;
}

div#album-shelf h3 {
	font-family: Courgette;
	color:rgba(0,0,0,.6);
//	font-size:30px;
	text-align:center;
}

div#main {
	width:1200px;
	margin:0px auto;
//	border:1px solid black;
	position: relative;
}

ul{
	list-style: none;
}

ul.shelf {
	padding:0px;
}

ul.shelf li{
		float:left;
		width:150px;
		//height:150px;
		padding-bottom:25px;
		margin:0px;
		text-align:center;
}

div.shelf-item{
	position: relative;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
	border:1px solid rgba(255, 255, 255, .4);
	overflow:hidden;
	color: rgba(0,0,0,0);
	margin: 0 auto;
}

div.album {
	width: 126px;
	height: 126px;
}

div.book {
	width:98px;
	height:145px;
}

img.sleeve {
	position:absolute;
	z-index:-100;
	top:0;
	left:0;
}
div.album img.sleeve{
	width:126px;
	height: 126px;
}

div.shelf-item:hover {
	background-color: rgba(255,255,255,0.6);
	color: rgba(0,0,0,.9);
//	-webkit-transform: scale(1.3, 1.3);
}

div.album-name{
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	height:40px;
	overflow: hidden;
	padding:20px 0px;
	font-weight: bold;
	font-size:.8em;
}
div.artist-name{
	position:absolute;
	bottom:20px;
	left:0;
	width:100%;
	font-size:.8em;
}

.btn {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 3px rgba(0, 0, 0, 0.3);
	border:1px solid #CCC;
	cursor:pointer;
	vertical-align: middle;

}
.primary{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.7);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-image: -webkit-linear-gradient(top,#2990E0,#1B75BB);
	font-weight: bold;
	line-height: normal;
	font-family:"Courgette";
}

.negative{
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.7);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-image: -webkit-linear-gradient(#74747F, #5D5D66);
	//font-weight: bold;
	font-size:14px;
	line-height: normal;
	font-family:"Courgette";
}

form#get-yours, form#signup, form#login{
	margin:30px 0;
	float:right;
	font-family: "Courgette";
	font-size:22px;
	color:rgba(0,0,0,.7);
	margin-right:10px;
}

#signup input[type=text], #signup input[type=password], #signup input[type=email] {
	width:120px;
}

#get-yours input[type=text]{
	width:227px;
}

form#login input[type=email], form#login input[type=password] {
	width:200px;
}

form#signup, form#login {
	display:none;
}

div#empty {
	display:none;
	text-align:right;
}

.notice {
	font-family:"Arial";
	font-size:14px;
	color:rgba(255,255,255,.9);
}

#logout, input#login {
	position:absolute;
	top:0;
	right:0;
	margin-right:12px;
}

input {
	padding: 9px 14px;
	border-radius: 5px;
	font-size:22px;
	border:1px solid rgba(0,0,0,.1);
	background-color: rgba(0,0,0,0);
	font-family:"Courgette";
}

input:hover{
	background-color: rgba(0,0,0,.1)
}

input:focus{
	background: rgba(27, 117, 187, 0.1);
	border-color: rgba(27, 117, 187, 0.1);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(27, 117, 187, 0.4);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1),0 0 8px rgba(27,117,187,0.4);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(27, 117, 187, 0.4);
}

.fclear{
	clear:both;
}

div#control-panel {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	display: block;
	width:250px;
	padding:30px 10px;
	background-color: rgba(48, 48, 56, .7);
	color:rgba(255, 255, 255, .8);
//	border-right: 1px solid rgba(255, 255, 255, .2);
	font-size:.9em;
	//background-image: url('http://www.wunderkit.com/images/patterns/lines.jpg');
}

div#control-panel h3{
		text-align:center;
}

div#handle {
	width:30px;
	position: fixed;
	left:270px;
	top:0;
	bottom: 0;
	background-color: rgba(48, 48, 56, .7);
	color:rgba(255, 255, 255, .8);
	border-right: 1px solid rgba(255, 255, 255, .2);
}